@font-face {
   font-family: 'Coco Gothic Heavy Italic-trial';
   font-display: swap;
   src: url('file:///Users/Pucs/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-01-25_183357/fonts/Coco%20Gothic%20Heavy%20Italic-trial/font.ttf');
}
