@font-face {
   font-family: 'MyriadSetPro-Thin';
   font-display: swap;
   src: url('file:///Users/Pucs/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-01-25_183357/fonts/MyriadSetPro-Thin/font.ttf');
}
